@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Quicksand:wght@500&display=swap');
body {  font-family: 'Cinzel', serif;;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: url('midCrea1.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
       margin: 0;
       animation: movie 2s ease forwards;
}
i {
    color: black;
    letter-spacing: 0.5;
    font-family: 'Quicksand', sans-serif;
}
@keyframes movie {
    0% {}
    100% {}
}
.topMovie, .bottomMovie {
    width: 105%;
    height: 10%;
    background-color: black;
    animation: movie 2s  3s  forwards ease;
}
.topMovie {
    transform: translateY(-100%);
    animation: movieTop 3s  1s  forwards ease;
}
.bottomMovie {
    transform: translateY(100%);
    animation: movieBot 3s  1s  forwards ease;
}
@keyframes movieTop {
    0% {transform: translateY(-100%);}
    100%{transform: translateY(0);}
}
@keyframes movieBot {
    0% {transform: translateY(100%);}
    100%{transform: translateY(0);}
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    border: 2px white solid;
    padding: 0 5%;
}

.scene {
  width: 150px;
  height: 200px;
  perspective: 400px;
}

.cube {
display: flex;
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.6s;
}

.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: opacity 200ms ease-out;
}



.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }

.opacityUp {
    opacity: 1;
}
.opacityDown {
    opacity: 0;
}